{% extends 'base.html' %}

{% block title %}Product Detail{% endblock title %}
{% block main-content %}

<div class="container my-5">
  <div class="row">
    <div class="col-sm-5 text-center align-self-center">
      <img src={{MEDIA_URL}}{{product.image}} alt={{MEDIA_URL}}{{product.image}} style="height:500px;object-fit:cover"
        class="img-fluid img-thumbnail">
    </div>
    <div class="col-sm-6 offset-sm-1">
      <h3>{{product.brand}}</h3>
      <p class="text-secondary lead">{{product.title}}</p>
      <hr>
      <h5 class="mt-2">Product Description</h5>
      <ul>
        {% for description in product.description %}
        <li class="">{{description}}</li>
        {% endfor %}
      </ul>
      <h4>Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">Rs.
          {{product.market_price}}</small></h4>
      
      <form action="/productdetail/{{product.id}}" method="post">
        {% csrf_token %}
        <h6 class="mt-3 mb-3">Sizes Available : </h6>
        <div class="col-sm-10 mx-3">
          <div class="">
            <input type="hidden" name="product_id" value={{product.id}}></input>
            <input type="hidden" name="order_type" value="direct"></input>
            {% for size, quantity in product.sizes_available.items %}
            {% if quantity == 0 %}
            <input type="radio" class="btn-check" name="inlineRadioOptions" id={{size}} value={{size}} autocomplete="off">
            <label class="col-lg-2 mb-1 mx-1 btn btn-outline-danger" style="pointer-events: none;" for={{size}}>{{size}}</label>
            {% else %}
            <input type="radio" class="btn-check" name="inlineRadioOptions" id={{size}} value={{size}} autocomplete="off">
            <label class="col-lg-2 mb-1 mx-1 btn btn-outline-secondary" for={{size}}>{{size}}</label>
            {% endif %}
            {% endfor %}
            <!-- {% for size in product.sizes_available %}
            <input type="radio" class="btn-check" name="inlineRadioOptions" id={{size}} value={{size}} autocomplete="off">
            <label class="col-lg-2 mb-1 mx-1 btn btn-outline-secondary" for={{size}}>{{size}}</label>
            {% endfor %} -->
          </div>
        </div>
        {% if user.is_staff or user.is_authenticated == False %}
        <button type="submit" name="add_to_cart" class="btn btn-secondary shadow px-3 py-2 mt-3" disabled>Add to Cart</button>
        <button type="submit" name = "buy_now" class="btn btn-danger shadow px-3 py-2 ms-4 mt-3" disabled>Buy Now</button>
        {% else %}
        <button type="submit" name="add_to_cart" class="btn btn-secondary shadow px-3 py-2 mt-3">Add to Cart</button>
        <button type="submit" name="buy_now" class="btn btn-danger shadow px-3 py-2 ms-4 mt-3">Buy Now</button>
        {% endif %}
      </form>
      {% for message in messages %}
      <h6 class="text-start text-danger my-3">{{message}}</h6>
      {% endfor %}
      <h5 class="mt-5">Available Offers</h5>
      <ul>
        <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
        <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
        <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
        <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
      </ul>
    </div>
  </div>
</div>
{% endblock main-content %}